<h1>Index</h1>
<div class="mt-4">
    <h1>Guía de Recepción Servicio Técnico</h1>
    <p class="titulo mt-4">Chakaaaabukooo</p>
    <hr>
    <p>Politicas de uso</p>
    <a href="http://www.nuevacumbre.cl">NuevaCumbre</a>
</div>